<div class="content">
  <p>
    Check your Horrorscope by selecting your birth sign in the circle. You may
    only check your horrorscope once per day. Once you've read your Horrorscope,
    you may submit a Horrorscope for any zodiac sign.
  </p>
  <br />
  <p>
    This application is powered by obscure phenomena in scientific quantum
    physics, yielding mysterious results that baffle the smartest scientific
    scientists
  </p>
  <br />

  <div class="footnote">
    <p>Just kidding, it's all randomly picked</p>
  </div>
</div>
